<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<style type="text/css">
		body{
			background-color: darkseagreen;
			font-family: 'Open Sans Condensed', sans-serif;
			width:99%;
		}
		.header{
			margin-left: 40%;
			margin-top: 5%;
			text-align : left;
		}
		h2
		{
			  display: block;
			  font-size: 2.5em;
			  -webkit-margin-before: 0.93em;
			  -webkit-margin-after: 0.93em;
			  -webkit-margin-start: 0px;
			  -webkit-margin-end: 0px;
			  font-weight: normal;
		}		
		.main
		{
			text-align : center;
		}
		.footer
		{
			clear: both;
			position: absolute;
			bottom: 2%;
			background-color: #716666;
			clear: both;
			height: 40%;
			width: 100%;
		}
		</style>
	<head>
	<body>
		<div class="main"><h2>Random Expression<h2></div>
		<div id="playarea"></div>
		<div class="footer">I m footer</div>
				
	</body>
</html>
